/*animaciones para hover btones documentacion------->https://ianlunn.github.io/Hover/*/
/*https://www.toptal.com/designers/htmlarrows/symbols/check-mark/   ----- signos para html o css(no son logos)*/
body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.header{
    background-color: #509BF5;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header img{
    margin-left: 300px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.header_menu{
    flex-direction: column-reverse;
}

.header_menu-ul{
    list-style: none;
    display: flex;
    margin-right: 400px;
    padding-top: 10px;
}
.header_menu-ul li{
    padding-right: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.header_menu-ul li a{
    color: white;
    text-decoration: none;
}

.separator{
    color: white;
}

.header_menu ul li a:hover{
    color: black;
    cursor: pointer;
}

.banner{
    width: 100%;
    height: 600px;
    background-color: #509BF5;
}

.banner_text{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 450px;
}

.banner_text-promo{
    font-size: 85px;
    font-weight: bold;
    color: white;
    margin-top: 100px;
}

.banner_text-precio{
    color:white;
    font-weight: bold;
    font-size: 27px;
    margin-top: 20px;
}

.buttonVerPlanes{
    width: 200px;
    height: 50px;
    margin-top: 40px;
    border: none;
    border-radius: 50px;
    background-color: #1DB954;
    transition: all .2s ease-in-out; 
}

.buttonVerPlanes:hover{
    transform: scale(1.102); 
    background-color: rgb(30, 215, 96);
}

.textoButton{
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.banner_text-terminosCondiciones{
    margin-top: 110px;
    font-size: 13px;
    color: white;
}

.banner_text-terminosCondiciones a{
    text-decoration: underline;
    color: white;
}


.bannerPremium{
    height: 600px;
    width: 100%;
    background-color: white;
}

.bannerPremium_Content{
    margin-right: 450px;
    margin-left: 300px;
    
}

.tituloPorQue{
    font-size: 40px;
    color:black;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 80px;
}

.cardView{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.cardView_Content{
    width: 270px;
    height: 300px;
}

.cardView_Content_img{
    display: flex;
    justify-content: center;
    height: 200px;
}


.imgLogo{
    width: 142px;
    height: 142px;
}

.cardView_Content_text header{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 21px;
}
.cardView_Content_text p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.elijePlan{
    height: 1063px;
    background-color: #F8F8F8;
    padding-right: 10px;
}

.elijePlanT{
    padding-top: 80px;
}

.elijePlan_titulo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
}

.elijeS{
    padding-top: 50px;
    padding-bottom: 50px;
}

.elijePlan_subtitulo{
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}   


.elijePlan_precio{
    width: 269px;
    height: 705px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    padding: 20px 20px;
}

.bannerPrecio{
    margin-right: 450px;
    margin-left: 300px;
    display: flex;
}

.cardViewMesGratis{
    margin-bottom: 25px;
}

.mesGratis{
    width: 100px;
    height: 25px;
    background-color: #2E77D0;
    border-radius: 5px;
}

.mesGratis p{
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: center;
    padding-top: 3px;
}

.cardViewPlanTitulo{
    margin-bottom: 40px;
}

.tipoPlan{
    font-weight: bold;
    font-size: 25px;
}

.pruebaPrecio{
    margin-bottom: 5px;
}

.infoPrecio{
    font-size: 18px;
}

.elijePlan_precio-cuenta{
   
}

.primerLinea{
    width: 269px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(204, 204, 204);
}

.listaBeneficio{
    margin-top: 30px;
}

.listaBeneficio li{
    margin-bottom: 10px;
}

.beneficio1{
    display: flex;

}

.beneficio1_check{
    margin-left: -30px;
    margin-right: 15px;
    align-items: flex-start;
}

.beneficio1_palabras p{
    margin: 0px 0px;
}

.comenzar{
    margin-top: 90px;
}

.comenzarButton{
    width: 100%;
    height: 40px;
    margin-top: 40px;
    border: none;
    border-radius: 50px;
    background-color: #1DB954;
    transition: all .2s ease-in-out; 
    cursor: pointer;
    
}

.comenzarButton:hover{
    transform: scale(1.102); 
    background-color: rgb(30, 215, 96);
}

.textoButton2{
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
}

.terminosCondiciones{
    margin-top: 30px;
}

.terminosCondiciones_label{
    color: rgb(145, 148, 150);
    font-size: 12px;
}

.terminosCondiciones_label a{
    color: rgb(145, 148, 150);
}

.cardViewPreciosDatos{
    
}