/*animaciones para hover btones documentacion------->https://ianlunn.github.io/Hover/*/
body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.header{
    background-color: #509BF5;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header img{
    margin-left: 300px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.header_menu{
    flex-direction: column-reverse;
}

.header_menu-ul{
    list-style: none;
    display: flex;
    margin-right: 400px;
    padding-top: 10px;
}
.header_menu-ul li{
    padding-right: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.header_menu-ul li a{
    color: white;
    text-decoration: none;
}

.separator{
    color: white;
}

.header_menu ul li a:hover{
    color: black;
    cursor: pointer;
}

.banner{
    width: 100%;
    height: 600px;
    background-color: #509BF5;
}

.banner_text{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 450px;
}

.banner_text-promo{
    font-size: 85px;
    font-weight: bold;
    color: white;
    margin-top: 100px;
}

.banner_text-precio{
    color:white;
    font-weight: bold;
    font-size: 27px;
    margin-top: 20px;
}

.buttonVerPlanes{
    width: 200px;
    height: 50px;
    margin-top: 40px;
    border: none;
    border-radius: 50px;
    background-color: #1DB954;
    transition: all .2s ease-in-out; 
}

.buttonVerPlanes:hover{
    transform: scale(1.102); 
    background-color: rgb(30, 215, 96);
}

.textoButton{
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.banner_text-terminosCondiciones{
    margin-top: 110px;
    font-size: 13px;
    color: white;
}

.banner_text-terminosCondiciones a{
    text-decoration: underline;
    color: white;
}


.porqueSerPremium{
    height: 600px;
    width: 100%;
    background-color: white;
}

.porqueSerPremium_text{
    margin-right: 450px;
    margin-left: 300px;
    
}

.tituloPorQue{
    font-size: 40px;
    color:black;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 80px;
}

.listaBeneficios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.listaBeneficiosTexto{
    flex-direction: column;
    justify-content: center;
}


.listaBeneficios header{
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*.porqueSerPremium_text-articulo{
    flex-direction: column;
}*/

